:root {
  --black: #111111;
  --darkish-green: #166527;
  --evergreen: #1a3724;
  --apricot: #f5b963;
  --darker-apricot: #ce8724;
  --charcoal-gray: #4a4a4a;
  --light-gray: #e2e2e2;
  --charcoal: #2b3030;
  --dull-read: #a52a2a;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  color: var(--black);
  font-size: 1rem;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
p {
  margin: 0;
}

/* Useful styles */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}
.center {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-2 {
  font-size: 1.4rem;

  position: relative;
}
.header-2::after {
  content: "";
  width: 120px;
  height: 2px;
  background-color: var(--apricot);
  display: block;

  position: absolute;
  bottom: -4px;
}
.stars {
  display: flex;
}
.star {
  width: 20px;
  height: 20px;
  stroke: var(--apricot);
  fill: none;
}
.star--filled {
  fill: var(--apricot);
}
/* Buttons */
.btn {
  padding: 10px 30px;
  font-size: 1rem;
  border-radius: 0;
  cursor: pointer;
}
.btn--transparent {
  background-color: transparent;
  color: #fff;
  font-weight: 700;
  border: 1px solid #fff;
  transition: 0.2s;
}
.btn--transparent:hover {
  background-color: #fff;
  color: var(--black);
}
/* Links */
.link:link {
  color: var(--black);
}
.link:visited {
  color: var(--dull-read);
}
.link:active {
  color: var(--apricot);
}
.link--charcoal-gray:link {
  color: var(--charcoal-gray);
}
.link--white:link {
  color: #fff;
}
.link--white:visited {
  color: #cdcdcd;
}
.link--white:active {
  color: var(--apricot);
}
/* Colors */
.color-apricot {
  color: var(--apricot);
}

/* Go up button */
.go-up__btn {
  width: 60px;
  height: 60px;

  position: fixed;
  bottom: 15px;
  right: 15px;

  opacity: 0;
  pointer-events: none;

  transition: all 0.4s;
}
.go-up__btn--visible {
  opacity: 0.5;
  pointer-events: auto;
}
.go-up__btn:hover {
  transform: rotate(360deg) scale(1.1);
  opacity: 1;
}

.go-up__icon {
  width: 60px;
  height: 60px;
  stroke: #fff;
  fill: var(--darkish-green);
}

/* Header */
/* Navigation bar */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: relative;
}
.nav__logo {
  color: var(--darkish-green);
  font-size: 2rem;
  font-weight: 700;
  text-decoration: none;
}
.logo__separate {
  color: var(--evergreen);
}
.nav__list {
  display: flex;
  align-items: center;

  margin: 0;
  padding: 0;
}
.list__subcontainer {
  display: flex;
  align-items: center;
  gap: 10px;
}
.nav__item {
  list-style-type: none;
  position: relative;
  font-size: 1.3rem;
}
/* Smooth underline animation of nav__item */
.nav__item::after {
  content: "";
  height: 2px;
  width: 0;
  background-color: var(--evergreen);
  display: block;
  transition: 0.2s;

  position: absolute;
  left: 50%;
  bottom: -4px;
}
.nav__item:hover::after {
  width: 100%;
  left: 0;
}
.nav__link {
  text-decoration: none;
  color: var(--black);
  transition: 0.2s;
}
.nav__item:hover > .nav__link {
  color: var(--evergreen);
}
.flex-logo-burger {
  display: flex;
  justify-content: space-between;
}
.burger-menu {
  width: 40px;
  height: 25px;
  display: none;
  flex-direction: column;
  justify-content: space-between;

  position: absolute;
  top: 27px;
  right: 20px;

  /* Btn styles */
  border: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}
.burger-menu__item {
  width: 100%;
  height: 4px;
  background-color: var(--black);
  border-radius: 10px;
}

/* Responsiveness of navbar */
@media (max-width: 768px) {
  .nav {
    flex-direction: column;
  }
  .nav__logo {
    align-self: flex-start;
  }
  .nav__item::after {
    height: 0;
  }
  .list__subcontainer {
    flex-direction: column;
  }
  .list__container {
    display: grid;
    grid-template-rows: 0fr;
    transition: grid-template-rows 0.4s;
  }
  .list__container > div {
    overflow: hidden;
  }
  .burger-menu {
    display: flex;
  }
  .open-menu {
    grid-template-rows: 1fr;
  }
}

/* Hero */
.hero {
  background-color: var(--charcoal-gray);
  background-image: url("img/hero.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  position: relative;
}
.semi-transparent-layer {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 200px 0;

  display: flex;
  align-items: center;
  justify-content: center;
}
.hero__content {
  padding: 0 20px;

  display: flex;
  flex-direction: column;
  gap: 20px;
}
.hero__title {
  font-size: 2rem;
  font-weight: 800;
  text-align: center;
}
.hero__text {
  font-size: 1rem;
  text-align: center;
}
.about-us__link {
  text-decoration: none;
}
/* Responsiveness of hero section */
@media (min-width: 992px) {
  .hero__content {
    max-width: 75%;
  }
  .hero__title {
    font-size: 2.75rem;
  }
}
@media (min-width: 1200px) {
  .hero__content {
    max-width: 50%;
  }
}

/* Cards section */
.cards__section {
  margin-top: 20px;
}
.cards__info {
  margin-top: 20px;

  display: flex;
  align-items: start;
  justify-content: space-between;
}
.cards__text {
  max-width: 75%;
}
.cards {
  margin-top: 20px;

  display: grid;
  grid-auto-rows: 1fr;
  gap: 20px;
}
.card {
  background-color: var(--charcoal);
  color: #fff;
  border-radius: 10px;
}
.card__img__container {
  width: 100%;
  height: 200px;
}
.card__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.card__content {
  padding: 15px;
}
.card__title {
  margin-top: 10px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}
.card__description {
  margin-top: 20px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}
.card__reviews {
  margin-top: 20px;

  display: flex;
  align-items: end;
  gap: 10px;
}

/* Responsiveness of cards */
@media (min-width: 600px) {
  .cards {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 992px) {
  .cards {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Most visited section */
.most-visited__text {
  max-width: 75%;
  margin-top: 20px;
}
.most-visited__list {
  display: grid;
}
.cateogory__item::marker {
  font-weight: bold;
  font-size: 1.1rem;
  color: var(--darkish-green);
}
.cateogory__item ul {
  list-style-type: disc;
}
.category__title {
  color: var(--darkish-green);
}
/* Responsiveness of Most visited section */
@media (min-width: 600px) {
  .most-visited__list {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 992px) {
  .most-visited__list {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Prices table */
.prices__table {
  width: 100%;
  border-collapse: collapse;

  border: 1px solid var(--charcoal-gray);
}
.prices__table__wrapper {
  overflow-x: auto;
  white-space: nowrap;
}
.prices__table th {
  background-color: var(--light-gray);
}
.prices__table td,
th {
  text-align: center;
  border: 1px solid var(--charcoal-gray);
  padding: 5px 15px;
}
.price__header {
  padding: 10px 0;
}

/* About us section */
.about-us__section {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
.about-us__content {
  flex: 1 1 0px;
}
.about-us__text {
  margin-top: 20px;
}
.about-us__fig {
  flex: 1 1 0px;
  margin: 10px;
}
.about-us__img {
  width: 100%;
  border-radius: 15px;
}
/* About us section responsiveness */
@media (min-width: 768px) {
  .about-us__section {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

/* Footer */
.footer {
  background-color: var(--charcoal);
  color: #fff;
}
.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}
.footer__links {
  display: flex;
  flex-direction: column;
  gap: 1.75rem;
}
.footer__logo-name {
  text-decoration: none;

  font-size: 2rem;
  color: var(--apricot);
}
.footer__logo--separate {
  color: var(--darker-apricot);
}
.footer__list {
  padding: 0;
  margin: 0;
  list-style-type: none;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.footer__list li a {
  color: #fff;
}
.footer__logo-img {
  max-width: 160px;
  filter: invert();
}
/* Social icons */
.social__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
}
.social__list {
  padding: 0;
  margin: 0;
  list-style-type: none;

  display: flex;
  gap: 0.35rem;
}
.social__item {
  width: 40px;
  height: 40px;
}
.social__icon {
  fill: #fff;
  width: 100%;
  height: 100%;

  transition: 0.2s;
}
.social__icon:hover {
  fill: var(--apricot);
}
/* Footer responsiveness */
@media (max-width: 600px) {
  .footer__container {
    flex-direction: column;
    gap: 3rem;
  }
  .footer__list {
    align-items: center;
    justify-content: center;
  }
  .social__content {
    flex-direction: row;
  }
  .social__list {
    flex-direction: column;
  }
}
